.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 50px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-color:limegreen;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
     padding: 10px 30px;
     border-radius: 15px;
}
.cat1{
    background-color: orange;
   
}
.cat2{
    background-color: orchid;

}
.cat3{
    background-color: blue;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
   
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
#Contuct-us{
    height: 300px;
}
#contuct-us h6{
    color: gray;
}